* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

@font-face {
  font-family: FrutigerBold;
  src: url(../fonts/FrutigerLTStd-BoldCn.woff); }
@font-face {
  font-family: FrutigerLight;
  src: url(../fonts/FrutigerLTStd-Light.woff); }
body {
  font-family: 'FrutigerLight', sans-serif;
  color: #666666; }

tbody {
  border: 0px; }

a {
  color: #666666; }
  a:hover {
    color: #f5b800; }

.layout, #navigation > div, #block-block-2 .content, #block-views-icsa-members-block .view-content,
#block-views-full-members-block .view-content,
#block-views-correspondent-members-block .view-content, #footer > div, #content > div,
#blue-region > div,
#white-region > div {
  max-width: 945px;
  margin: 0px auto;
  padding: 60px 10px; }

.front #content {
  display: none; }

#navigation {
  position: relative;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); }
  #navigation > div {
    padding: 0px 10px 20px; }

h1, h2 {
  color: #0f71c5;
  text-align: center;
  text-transform: uppercase;
  font-family: FrutigerBold; }

h4 {
  color: #0f71c5; }

h2 {
  font-size: 38px; }

#cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%; }

.front h2,
#block-user-login h2,
#blue-region h2,
#white-region h2,
h1 {
  font-size: 3.8em;
  padding-bottom: 0.4em; }

h3,
.views-field-title a {
  color: #0f71c5;
  font-size: 28px;
  padding-bottom: 20px; }

li, p {
  padding-bottom: 20px; }

#block-system-main-menu,
#block-menu-menu-footer-menu {
  padding-top: 15px; }
  #block-system-main-menu li,
  #block-menu-menu-footer-menu li {
    float: left;
    list-style: none;
    margin-right: 13px; }
    #block-system-main-menu li:last-child,
    #block-menu-menu-footer-menu li:last-child {
      margin-right: 0px; }
  #block-system-main-menu a,
  #block-menu-menu-footer-menu a {
    text-decoration: none;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: bold; }
    #block-system-main-menu a:hover,
    #block-menu-menu-footer-menu a:hover {
      color: #f5b800; }

#block-system-main-menu {
  position: static; }
  #block-system-main-menu > .content > .menu > li > a {
    padding-bottom: 32px; }
  #block-system-main-menu > .content {
    position: static; }
  #block-system-main-menu > .content > ul.menu > li.expanded > .submenu.close {
    display: none; }
  #block-system-main-menu > .content > ul.menu > li.expanded > .submenu {
    z-index: 99;
    display: none;
    position: absolute;
    top: 98px;
    width: 100%;
    text-align: center;
    background: #0f71c5;
    left: 0px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); }
    #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li.expanded > .submenu {
      border-top: 1px solid white; }
      #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li.expanded > .submenu li {
        float: none; }
        #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li.expanded > .submenu li a {
          padding: 5px 10px; }
    #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li {
      float: none;
      display: inline-block;
      vertical-align: top; }
      #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li:before {
        display: none; }
      #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li a {
        color: white;
        display: block;
        padding: 15px 5px 5px 5px;
        text-align: left; }
        #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li a:hover {
          color: #f5b800; }
  #block-system-main-menu > .content > ul.menu > li.expanded:hover .submenu {
    display: block; }
  #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > ul.menu {
    max-width: 980px;
    margin: 5px auto 15px;
    text-align: center; }

#block-system-main-menu > .content > ul.menu > #members-area-link.expanded > .submenu > ul.menu {
  text-align: left; }
  #block-system-main-menu > .content > ul.menu > #members-area-link.expanded > .submenu > ul.menu li {
    max-width: 94px;
    margin-right: 0px; }

#logo {
  float: left;
  clear: right; }

.region-navigation {
  float: right; }

.front #banner {
  background: url(../images/map-bg.png) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center; }

.front #region-banner {
  max-width: 1620px;
  margin: 0 auto;
  background: url(../images/map1.png) no-repeat;
  background-position: center;
  height: 500px;
  background-size: contain; }

.front #white-region > div {
  padding-bottom: 30px; }

#main-wrapper {
  background: url(../images/globe.png) no-repeat;
  background-position: top right;
  background-position-y: -58px;
  padding-bottom: 112px; }

strong {
  font-family: FrutigerBold; }

#block-block-2 > h2,
#main-title {
  font-family: FrutigerBold;
  text-transform: uppercase;
  color: #0f71c5;
  text-align: center; }

.first-word {
  color: #b3b3b3;
  font-family: FrutigerLight, sans-serif;
  font-weight: normal; }

#block-block-2 {
  padding-top: 50px; }
  #block-block-2 .content {
    padding-bottom: 50px;
    padding-top: 0px; }
    #block-block-2 .content span {
      line-height: 1.8em;
      vertical-align: middle; }
  #block-block-2 h3 {
    font-size: 20px; }
  #block-block-2 > h2 {
    text-decoration: none;
    color: #0f71c5;
    cursor: default; }
  #block-block-2 p {
    line-height: 1.8em; }
  #block-block-2 ul {
    padding-left: 30px; }
  #block-block-2 li {
    list-style: none; }
    #block-block-2 li span:first-child {
      color: #0f71c5;
      font-size: 38px;
      line-height: 23px;
      vertical-align: middle;
      padding-right: 20px; }
    #block-block-2 li span:first-child + span {
      display: inline-block;
      width: 95%; }

#block-block-1 {
  overflow: hidden; }
  #block-block-1 .content div {
    width: 33.33%;
    float: left;
    height: 463px;
    text-align: center; }
    #block-block-1 .content div a {
      color: white;
      display: block;
      vertical-align: middle;
      font-size: 42px;
      line-height: 1em;
      padding: 157px 50px;
      text-decoration: none;
      text-transform: uppercase; }
      #block-block-1 .content div a:before {
        content: "";
        display: block;
        padding-bottom: 20px; }
      #block-block-1 .content div a:hover {
        color: #f5b800; }
  #block-block-1 .content div:first-child {
    background: url(../images/membership-bg.png) no-repeat;
    background-size: cover; }
    #block-block-1 .content div:first-child a:before {
      content: url(../images/globe-yellow.png);
      display: block; }
  #block-block-1 .content div:first-child + div {
    background: url(../images/annual-meeting-bg.png) no-repeat;
    background-size: cover; }
    #block-block-1 .content div:first-child + div a {
      padding: 139px 50px; }
    #block-block-1 .content div:first-child + div a:before {
      content: url(../images/bars.png); }
  #block-block-1 .content div:last-child {
    background: url(../images/secretariat-bg.png) no-repeat;
    background-size: cover; }
    #block-block-1 .content div:last-child a:before {
      content: url(../images/mobile.png); }

#block-views-full-members-block {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid #f5b800; }

#block-views-icsa-members-block .view-content,
#block-views-full-members-block .view-content,
#block-views-correspondent-members-block .view-content {
  padding: 10px 0px;
  text-align: center; }
#block-views-icsa-members-block .views-row,
#block-views-full-members-block .views-row,
#block-views-correspondent-members-block .views-row {
  display: inline-block;
  width: 184px;
  height: 88px;
  text-align: center; }
  #block-views-icsa-members-block .views-row .views-field-field-image-members img,
  #block-views-full-members-block .views-row .views-field-field-image-members img,
  #block-views-correspondent-members-block .views-row .views-field-field-image-members img {
    max-width: 180px;
    height: auto; }

#page-wrapper {
  position: relative;
  min-height: 100%; }

#footer {
  background: #e6e6e6;
  overflow: hidden;
  clear: left;
  position: absolute;
  width: 100%;
  bottom: 0px; }
  #footer ul.menu {
    text-align: center; }
  #footer li {
    display: inline-block;
    float: none;
    margin-right: 5px;
    padding: 0px; }
  #footer a {
    color: #043369; }
  #footer .region-footer {
    display: inline-block; }
  #footer > div {
    padding: 40px 10px;
    text-align: center; }

#footer-logo {
  float: left; }

#copyright {
  float: right;
  text-align: right;
  font-size: 12px;
  color: #043369; }
  #copyright a {
    text-decoration: none; }

#login {
  position: relative;
  float: right;
  color: white;
  background: #0f71c5;
  text-transform: uppercase;
  border-radius: 0px 0px 3px 3px; }
  #login a {
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: inline-block; }
    #login a:hover {
      background: #f5b800; }
    #login a:last-child {
      padding-left: 8px;
      margin-right: -1px; }

.logged-in #login a {
  border: 0px; }

#block-user-login {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 50px 30px 30px;
  transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 9999999; }
  #block-user-login label {
    text-align: left; }
  #block-user-login #cross {
    position: absolute;
    font-size: 0px;
    top: 10px;
    right: 0px;
    padding: 20px;
    cursor: pointer;
    background: url(../images/cross.png) no-repeat; }
  #block-user-login h2 {
    padding-bottom: 0px; }

#block-user-login form .form-submit,
form .form-submit,
.webform-client-form .form-submit,
#user-register-form .form-submit {
  padding: 0; }

#login-block {
  max-width: 580px;
  margin: 0 auto; }
  #login-block .form-submit {
    width: 240px;
    padding: 0; }

a.button,
#block-user-login .form-submit,
#user-login-form .form-submit,
#user-pass .form-submit,
.webform-client-form .form-submit,
#user-login-form .button a,
#user-register-form .form-submit,
#members-pages-node-form .form-submit,
form .form-submit {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white !important;
  background: #0f71c5;
  border-radius: 5px;
  width: 240px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;
  margin: 10px;
  font-family: FrutigerBold;
  text-transform: uppercase;
  cursor: pointer;
  border: 0px;
  -webkit-appearance: none; }
  a.button:hover,
  #block-user-login .form-submit:hover,
  #user-login-form .form-submit:hover,
  #user-pass .form-submit:hover,
  .webform-client-form .form-submit:hover,
  #user-login-form .button a:hover,
  #user-register-form .form-submit:hover,
  #members-pages-node-form .form-submit:hover,
  form .form-submit:hover {
    background: #f5b800; }

#members-pages-node-form .resizable-textarea .grippie {
  display: none; }
#members-pages-node-form label {
  display: inline-block; }

#user-login-form .button a,
#user-login-form a.button {
  width: 140px;
  font-size: 14px; }
#user-login-form .form-actions {
  margin-bottom: 0px; }

#block-user-login,
#login-block,
#user-register-form,
form,
.webform-client-form {
  /* firefox 19+ */
  /* ie */ }
  #block-user-login input,
  #block-user-login select,
  #block-user-login textarea,
  #login-block input,
  #login-block select,
  #login-block textarea,
  #user-register-form input,
  #user-register-form select,
  #user-register-form textarea,
  form input,
  form select,
  form textarea,
  .webform-client-form input,
  .webform-client-form select,
  .webform-client-form textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 96%;
    border-radius: 5px;
    font-size: 16px; }
  #block-user-login textarea,
  #login-block textarea,
  #user-register-form textarea,
  form textarea,
  .webform-client-form textarea {
    width: 100%; }
  #block-user-login .form-actions,
  #block-user-login .button,
  #login-block .form-actions,
  #login-block .button,
  #user-register-form .form-actions,
  #user-register-form .button,
  form .form-actions,
  form .button,
  .webform-client-form .form-actions,
  .webform-client-form .button {
    display: inline-block; }
  #block-user-login select,
  #login-block select,
  #user-register-form select,
  form select,
  .webform-client-form select {
    height: 42px;
    color: #b3b3b3;
    width: 100%;
    background: transparent; }
  #block-user-login ::-webkit-input-placeholder,
  #login-block ::-webkit-input-placeholder,
  #user-register-form ::-webkit-input-placeholder,
  form ::-webkit-input-placeholder,
  .webform-client-form ::-webkit-input-placeholder {
    color: #9b9b9b;
    font-size: 16px; }
  #block-user-login ::-moz-placeholder,
  #login-block ::-moz-placeholder,
  #user-register-form ::-moz-placeholder,
  form ::-moz-placeholder,
  .webform-client-form ::-moz-placeholder {
    color: #9b9b9b;
    font-size: 16px; }
  #block-user-login :-ms-input-placeholder,
  #login-block :-ms-input-placeholder,
  #user-register-form :-ms-input-placeholder,
  form :-ms-input-placeholder,
  .webform-client-form :-ms-input-placeholder {
    color: #9b9b9b;
    font-size: 16px; }
  #block-user-login input:-moz-placeholder,
  #login-block input:-moz-placeholder,
  #user-register-form input:-moz-placeholder,
  form input:-moz-placeholder,
  .webform-client-form input:-moz-placeholder {
    color: #9b9b9b;
    font-size: 16px; }

.not-front #region-banner {
  background: url(../images/about.jpg) no-repeat;
  background-size: cover;
  min-height: 250px; }

#content,
#blue-region,
#white-region {
  overflow: hidden; }
  #content p,
  #blue-region p,
  #white-region p {
    line-height: 1.8em; }
  #content ul, #content ol,
  #blue-region ul,
  #blue-region ol,
  #white-region ul,
  #white-region ol {
    margin-left: 20px; }

#blue-region {
  background: #0f71c5;
  color: white; }
  #blue-region a {
    color: #f5b800; }

#blue-region h2,
#main-title {
  color: white; }
  #blue-region h2 .first-word,
  #main-title .first-word {
    color: white; }

.not-front #main-title {
  font-size: 3.8em;
  line-height: 70px;
  padding: 90px 0px; }

#edit-account,
#edit-account + .container {
  width: 45%;
  float: left; }

#edit-account {
  padding-right: 30px; }

#user-register-form .field-type-file {
  width: 95%; }
  #user-register-form .field-type-file fieldset {
    display: none; }
#user-register-form .field-name-field-application-letter {
  clear: left; }
#user-register-form .description {
  color: #0f71c5;
  padding-top: 5px; }
#user-register-form label {
  padding-bottom: 5px; }

.page-member-register .tabs,
.page-user-password .tabs,
.page-user .tabs {
  display: none; }

.username + .description,
#edit-mail + .description,
.form-item-pass-pass2 + .description {
  display: none; }

#user-register-form .form-actions {
  clear: left;
  display: block;
  text-align: center; }
  #user-register-form .form-actions input, #user-register-form .form-actions a.button {
    margin: 20px; }
#user-register-form p {
  line-height: 1em;
  font-size: 14px;
  color: #0f71c5; }

#edit-profile-main-field-membership-list {
  border-bottom: 2px solid #f5b800;
  padding-bottom: 20px;
  margin-bottom: 30px; }

#block-webform-client-block-28,
#block-block-4 {
  float: left;
  width: 45%; }
  #block-webform-client-block-28 h2 .first-word,
  #block-block-4 h2 .first-word {
    color: #0f71c5; }
  #block-webform-client-block-28 h2,
  #block-block-4 h2 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 30px; }

#block-block-4 {
  padding-left: 30px;
  margin-left: 30px; }
  #block-block-4 strong {
    color: #0f71c5; }
  #block-block-4 p {
    line-height: 1.3em; }
  #block-block-4 .location:before,
  #block-block-4 .email:before,
  #block-block-4 .mobile:before {
    content: "";
    padding-right: 10px;
    float: left; }
  #block-block-4 .mobile:before {
    content: url(../images/mobile-contact.png); }
  #block-block-4 .location:before {
    content: url(../images/location.png); }
  #block-block-4 .email:before {
    content: url(../images/mail-contact.png); }
  #block-block-4 .content {
    border-left: 2px solid #f5b800;
    padding-left: 40px; }
  #block-block-4 h2 {
    padding-left: 40px; }

#block-block-5 {
  clear: left; }
  #block-block-5 #map {
    height: 400px;
    width: 100%; }

.page-node-27 .region-content {
  overflow: hidden; }
.page-node-27 #blue-region > div {
  max-width: 100%;
  padding: 0px; }

.node-icsa-members .field-name-field-image-members,
.node-icsa-members .field-name-field-image-members + div {
  float: left; }
.node-icsa-members .field-name-field-image-members {
  float: left;
  padding-right: 20px;
  padding-top: 20px; }
.node-icsa-members .field-name-field-description {
  padding-top: 30px;
  clear: left; }
.node-icsa-members .field-type-taxonomy-term-reference {
  display: none; }

#block-block-7 {
  display: none; }

.view-members-listing .view-content {
  text-align: center; }
.view-members-listing .views-row {
  padding: 10px 10px;
  display: inline-block;
  width: 212px;
  text-align: center; }
  .view-members-listing .views-row span {
    display: block; }
  .view-members-listing .views-row a {
    text-decoration: none;
    font-weight: bold; }
    .view-members-listing .views-row a:hover {
      color: #f5b800; }
  .view-members-listing .views-row a span:first-child {
    line-height: 145px; }
    .view-members-listing .views-row a span:first-child img {
      vertical-align: middle; }

.view-members-listing a,
.node-type-icsa-members a {
  color: #666666; }
.view-members-listing .views-field-field-country,
.view-members-listing .views-name-field-country,
.node-type-icsa-members .views-field-field-country,
.node-type-icsa-members .views-name-field-country {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px; }

#block-block-8 {
  display: none; }

.site-map-menu li {
  list-style: none; }
  .site-map-menu li a {
    text-decoration: none;
    display: block;
    padding: 10px; }
    .site-map-menu li a:hover {
      text-decoration: underline; }

.view-members-area,
.view-proiles-information {
  margin-top: 20px; }
  .view-members-area .views-row,
  .view-proiles-information .views-row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .view-members-area .views-row:last-child,
    .view-proiles-information .views-row:last-child {
      border-bottom: 0px; }
  .view-members-area .views-label,
  .view-proiles-information .views-label {
    color: #0f71c5; }
  .view-members-area .view-footer a.button,
  .view-proiles-information .view-footer a.button {
    margin: 0px auto;
    font-weight: bold; }
  .view-members-area .view-content,
  .view-proiles-information .view-content {
    border-width: 2px 0px;
    border-color: #f5b800;
    border-style: solid;
    margin-bottom: 0px 0px;
    padding: 25px 0px 0px; }
  .view-members-area .view-header,
  .view-proiles-information .view-header {
    color: #0f71c5;
    overflow: hidden; }
    .view-members-area .view-header div h3:first-child,
    .view-proiles-information .view-header div h3:first-child {
      float: left; }
    .view-members-area .view-header div h3:first-child + h3,
    .view-proiles-information .view-header div h3:first-child + h3 {
      float: right; }
  .view-members-area .views-field-title,
  .view-proiles-information .views-field-title {
    max-width: 80%; }
    .view-members-area .views-field-title a,
    .view-proiles-information .views-field-title a {
      font-size: 20px;
      text-decoration: none; }
  .view-members-area .views-field-body,
  .view-proiles-information .views-field-body {
    padding-top: 10px; }
  .view-members-area .views-field-field-date,
  .view-proiles-information .views-field-field-date {
    position: absolute;
    top: 0px;
    float: right;
    right: 0px; }
  .view-members-area .view-footer,
  .view-proiles-information .view-footer {
    margin-top: 50px;
    text-align: center; }
  .view-members-area .views-field-name,
  .view-proiles-information .views-field-name {
    font-weight: bold; }

.node-members_pages-form fieldset {
  border: 0px;
  padding: 0px; }
.node-members_pages-form .browse-button {
  position: absolute;
  right: 50px;
  top: 7px;
  color: #008b7f;
  font-weight: bold; }
.node-members_pages-form table tr {
  background: transparent; }
.node-members_pages-form table th {
  border-bottom: 2px solid #f5b800;
  padding: 10px;
  margin-bottom: 10px; }
.node-members_pages-form fieldset.date-combo .container-inline-date .date-padding {
  padding-left: 0px; }
.node-members_pages-form .form-actions {
  display: block;
  text-align: center; }
.node-members_pages-form #edit-field-file-members {
  border-bottom: 2px solid #f5b800;
  margin-bottom: 30px;
  padding-bottom: 30px; }
.node-members_pages-form .fieldset-legend {
  font-weight: bold; }
.node-members_pages-form .date-combo .fieldset-legend {
  display: none; }

.node-type-members-pages #page-title {
  font-size: 28px;
  color: #0f71c5; }
  .node-type-members-pages #page-title .first-word {
    color: #0f71c5; }
.node-type-members-pages .field {
  padding: 10px 0px; }
.node-type-members-pages .file a {
  color: #0f71c5; }
.node-type-members-pages .field-name-body {
  line-height: 1.8em; }
.node-type-members-pages #author-name {
  text-align: center;
  font-size: 14px;
  color: #0f71c5;
  padding: 10px 0px 30px; }
.node-type-members-pages .field-name-field-category {
  display: none; }
.node-type-members-pages #member-content {
  border-width: 2px 0px;
  border-color: #f5b800;
  border-style: solid;
  padding: 25px 0px; }
.node-type-members-pages .list-button {
  margin-top: 30px; }

.list-button {
  text-align: center; }

#error {
  color: red; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

#page-wrapper {
  min-height: 100%;
  position: relative; }

#footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

#content {
  min-height: 420px; }

.page-node-33 #content {
  min-height: inherit; }

#node-36 td {
  padding: 10px; }
#node-36 td p {
  padding-bottom: 0px; }

@media screen and (max-width: 1090px) {
  #navigation > div {
    padding: 0px 10px 20px; }

  .front #banner {
    height: 384px; }
  .front #region-banner {
    max-width: 767px;
    background-size: contain;
    height: 388px; }

  #block-block-1 .content div {
    height: 320px; }
    #block-block-1 .content div a {
      font-size: 28px;
      padding: 95px 50px; }
    #block-block-1 .content div:first-child + div a {
      padding: 84px 50px; }

  .view-members-listing .view-content {
    text-align: center; } }
@media screen and (max-width: 860px) {
  #logo {
    width: 300px; }
    #logo img {
      width: 100%; }

  .view-icsa-members,
  #block-views-full-members-block,
  .view-correspondent-members {
    text-align: center; }

  #block-block-2 li span:first-child + span {
    width: 90%; }

  #block-system-main-menu li.expanded .submenu {
    top: 96px; }

  #block-system-main-menu > .content > ul.menu > li.expanded > .submenu {
    top: 95px; } }
@media screen and (min-width: 768px) {
  #block-system-main-menu {
    display: block !important; }
    #block-system-main-menu li.expanded .submenu {
      display: none; } }
@media screen and (max-width: 767px) {
  #block-user-login input,
  #login-block input,
  #user-register-form input,
  form input,
  .webform-client-form input {
    width: 93%; }
  #block-user-login select,
  #login-block select,
  #user-register-form select,
  form select,
  .webform-client-form select {
    width: 99%; }

  #main-wrapper {
    padding-bottom: 100px; }

  #block-system-main-menu > .content > ul.menu > #members-area-link.expanded > .submenu > ul.menu li {
    max-width: inherit; }

  #user-register-form .field-type-file {
    width: 99%; }

  .not-front #main-title {
    font-size: 2.45em;
    line-height: inherit; }

  .front h2,
  #blue-region h2,
  #white-region h2, h1 {
    font-size: 2.3em; }

  #block-block-2 li span:first-child + span {
    width: 85%; }

  #block-block-1 .content div {
    width: 100%;
    float: none;
    border-bottom: 1px solid #ccc; }
    #block-block-1 .content div:last-child {
      width: 100%; }

  #footer ul.menu {
    display: none; }

  #block-block-8 {
    display: block;
    color: white;
    padding-top: 25px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px; }
    #block-block-8 .content div {
      float: left;
      width: 45%; }
      #block-block-8 .content div p {
        padding-bottom: 10px; }
      #block-block-8 .content div:first-child + div {
        float: right; }

  #logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    clear: right;
    float: none;
    padding-top: 15px; }

  #block-block-7 {
    display: block;
    clear: left;
    text-align: center;
    padding-top: 20px; }
    #block-block-7 a {
      text-transform: uppercase;
      text-decoration: none;
      color: #f5b800;
      font-weight: bold; }

  .front #banner {
    height: 300px; }
  .front #region-banner {
    background: url(../images/mobile-map1.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px; }

  #edit-account,
  #edit-account + .container {
    width: 100%;
    float: none; }

  #login {
    margin-right: 10px; }

  .region-navigation {
    float: none; }

  #navigation > div {
    padding: 0px; }

  #block-system-main-menu {
    display: none;
    background-color: #0f71c5;
    padding-top: 0px; }
    #block-system-main-menu > .content > .menu > li > a {
      padding-bottom: 10px; }
    #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li {
      display: block; }
    #block-system-main-menu > .content > ul.menu > li.expanded > .submenu {
      position: relative;
      top: 0px;
      box-shadow: none;
      background-color: #0b599b; }
      #block-system-main-menu > .content > ul.menu > li.expanded > .submenu ul.menu {
        margin: 0px; }
        #block-system-main-menu > .content > ul.menu > li.expanded > .submenu ul.menu > li a {
          padding: 10px 20px; }
      #block-system-main-menu > .content > ul.menu > li.expanded > .submenu > .menu > li.expanded > .submenu li a {
        padding-left: 40px; }
    #block-system-main-menu > .content > ul.menu > li.expanded:hover .submenu {
      display: none; }
    #block-system-main-menu li {
      float: none;
      padding-right: 0px;
      margin: 0px; }
      #block-system-main-menu li a {
        padding: 10px;
        display: block;
        color: white;
        padding-bottom: 10px;
        border-bottom: 1px solid #1e66a3; }
    #block-system-main-menu li.expanded > a {
      background: url(../images/polygon-down.png) no-repeat;
      background-position: 96% center; }
    #block-system-main-menu li.expanded > a.close {
      background: url(../images/polygon-up.png) no-repeat;
      background-position: 96% center; }
    #block-system-main-menu li.expanded:hover .submenu {
      position: relative;
      top: 0;
      display: none; }
    #block-system-main-menu li.expanded .submenu {
      display: none;
      text-align: left;
      box-shadow: none; }
      #block-system-main-menu li.expanded .submenu li {
        display: block; }

  .not-front #region-banner {
    min-height: inherit; }

  .not-front #main-title {
    padding: 80px 10px; }

  #block-webform-client-block-28, #block-block-4 {
    float: none;
    width: 100%; }

  #block-block-4 {
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 40px;
    margin-top: 20px;
    border-top: 2px solid #f5b800; }
    #block-block-4 h2 {
      padding-left: 0px; }
    #block-block-4 .content {
      padding-left: 0px;
      border-left: 0px; }

  .view-members-listing .views-row {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 40px; } }
@media screen and (max-width: 392px) {
  #block-views-full-members-block .views-row, #block-views-correspondent-members-block .views-row, .view-icsa-members .views-row {
    padding: 20px 0px;
    border-bottom: 1px solid #b3b3b3; } }
